.Reveal-submitted-votes-button {
    background-color: #365da7;
    border: none;
    border-radius: 80px;
    color: white;
    text-align: center;
    padding: 2% 0;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
    font-family: "Ford Antenna", sans-serif;
    transition-duration: 0.3s;
    width: 400px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    box-shadow: 0 6px 8px 5px rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.Reveal-submitted-votes-button:hover {
    background-color: white;
    color: midnightblue;
    font-weight: bold;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}