.Logo-still {
    width: 10%;
}

.Logo-spin-3d {
    width: 30%;
    height: auto;
    pointer-events: none;
    animation: logo-spin-3d infinite 2s linear;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes logo-spin-3d {
    to { transform: rotateY(360deg); }
}

.Logo-spin-flat {
    width: 10%;
    pointer-events: none;
    animation: logo-spin-flat infinite 25s linear;
}

@keyframes logo-spin-flat {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}