.Session-code-display {
    color: #365da7;
    font-family: "Ford Antenna", sans-serif;
    font-size: 20px;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Session-code-label {
    margin-right: 5px;
    font-weight: lighter;
    text-align: center;
}

.Session-code-value {
    color: midnightblue;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.Session-code-value:hover {
    color: white;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.75);
}

.Copy-notification {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(54, 93, 167, 0.7);
    color: white;
    font-family: "Ford Antenna", sans-serif;
    font-size: large;
    text-align: center;
    padding: 10px 20px;
    border-radius: 35px;
    z-index: 10;
}

.Welcome-popup {
    position: fixed;
    top: 43%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    font-size: 50px;
    font-weight: bold;
    color: white;
    background-color: rgba(54, 93, 167, 0.7);
    padding: 2%;
    border-radius: 35px;
    font-family: "Ford Antenna", sans-serif;
    text-align: center;
    text-shadow: 0 0 40px rgba(0, 0, 0, 0.75);
    transition: opacity 3s ease-in-out;
    opacity: 1
}

.FadePopup {
    opacity: 0;
}

.Poker-table-container {
    display: grid;
    place-items: center;
    flex-grow: 1;
}

.Poker-table {
    height: 55%;
    width: 50%;
    background-color: lightgrey;
    border-radius: 50%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.Voting-button-container {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 0 20%;
}

.Voting-button {
    background-color: #365da7;
    color: white;
    padding: 3.5% 0.1%;
    border: none;
    cursor: pointer;
    width: 70px;
    border-radius: 24px;
    text-align: center;
    font-size: 24px;
    font-family: "Ford Antenna", sans-serif;
    transition-duration: 0.3s;
    display: inline-block;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Voting-button:hover {
    background-color: white;
    color: midnightblue;
    padding: 3.2% 0;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    border: 3px solid #365da7;
}

.Voting-button input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.Voting-button.checked {
    background-color: midnightblue;
    color: white;
    padding: 3.5% 0.1%;
    border: none;
    cursor: pointer;
    width: 70px;
    border-radius: 24px;
    text-align: center;
    font-size: 24px;
    font-family: "Ford Antenna", sans-serif;
    transition-duration: 0.3s;
    display: inline-block;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Submitted-vote-card-container {
    width: 100px;
    height: auto;
    position: absolute;
    top: 115%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Submitted-vote-card {
    background-color: midnightblue;
    color: white;
    border: none;
    width: 45px;
    height: 65px;
    border-radius: 12px;
    text-align: center;
    font-size: 30px;
    font-family: "Ford Antenna", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: none;
    z-index: 1;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.Submitted-vote-card-text {
    font-size: 12px;
    color: midnightblue;
    font-family: "Ford Antenna", sans-serif;
    text-align: center;
    margin-top: 15px;
}

.Reveal-submitted-votes-button {
    background-color: #365da7;
    border: none;
    border-radius: 80px;
    color: white;
    text-align: center;
    padding: 2% 0;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
    font-family: "Ford Antenna", sans-serif;
    transition-duration: 0.3s;
    width: 400px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    box-shadow: 0 6px 8px 5px rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.Reveal-submitted-votes-button:hover {
    background-color: white;
    color: midnightblue;
    font-weight: bold;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.Reset-voting-button {
    background-color: #365da7;
    border: none;
    border-radius: 80px;
    color: white;
    text-align: center;
    padding: 1% 0;
    text-decoration: none;
    display: grid;
    font-size: 24px;
    font-family: "Ford Antenna", sans-serif;
    transition-duration: 0.3s;
    width: 250px;
    position: fixed;
    top: 20vh;
    right: 5vh;
    z-index: 1;
}

.Reset-voting-button:hover {
    background-color: white;
    color: midnightblue;
    font-weight: bold;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.Vote-average-container {
    width: 75%;
    height: auto;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

.Vote-average-container.fade-in {
    opacity: 1;
}

.Mode-vote-average-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: auto;
}

.Mean-vote-average-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: auto;
}

.Median-vote-average-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: auto;
}

.Mode-vote-average {
    font-size: 110px;
    font-weight: bold;
    color: white;
    font-family: "Ford Antenna", sans-serif;
    text-align: center;
    text-shadow: 20px 10px 20px rgba(0, 0, 0, 0.5);
}

.Mean-vote-average {
    font-size: 80px;
    font-weight: bold;
    color: white;
    font-family: "Ford Antenna", sans-serif;
    text-align: center;
    text-shadow: 20px 10px 20px rgba(0, 0, 0, 0.5);
}

.Median-vote-average {
    font-size: 80px;
    font-weight: bold;
    color: white;
    font-family: "Ford Antenna", sans-serif;
    text-align: center;
    text-shadow: 20px 10px 20px rgba(0, 0, 0, 0.5);
}

.Mode-vote-average-text {
    font-size: 28px;
    color: midnightblue;
    font-family: "Ford Antenna", sans-serif;
    font-weight: bold;
    text-align: center;
}

.Mean-vote-average-text {
    font-size: 20px;
    color: #365da7;
    font-weight: bold;
    font-family: "Ford Antenna", sans-serif;
    text-align: center;
}

.Median-vote-average-text {
    font-size: 20px;
    color: #365da7;
    font-weight: bold;
    font-family: "Ford Antenna", sans-serif;
    text-align: center;
}