.form-container {
    max-width: 1400px;
    background: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    font-family: "Ford Antenna", sans-serif;
    color: midnightblue;
    padding: 20px;
    margin: 0 auto;
}

.join-session-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .join-session-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }
}

.manual-join, .session-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 680px;
    height: 400px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #ffffff;
    text-align: center;
}

.session-list {
    text-align: left;
    width: 1200px;
    font-weight: bold;
}

.form-container input[type=text], .form-container input[type=sessionCode] {
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    border: none;
    background: #FAF9F6;
    font-family: "Ford Antenna", sans-serif;
    text-align: center;
    box-shadow: 3px 6px 12px 3px rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
}

.form-container .Join-session-button,
.form-container .Go-back-button {
    width: 100%;
    padding: 16px 20px;
    border-radius: 36px;
    font-size: 20px;
    font-family: "Ford Antenna", sans-serif;
    margin-top: 10px;
    transition-duration: 0.3s;
}

.form-container .Join-session-button {
    background-color: #365da7;
    color: white;
    border: none;
    cursor: pointer;
}

.form-container .Join-session-button:hover {
    background-color: white;
    color: midnightblue;
    font-weight: bold;
    border: 3px solid #365da7;
}

.form-container .Join-session-button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.form-container .Go-back-button {
    background: none;
    color: #365da7;
    border: none;
    cursor: pointer;
}
